<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Victim info.css">
</head>
<body>
    <body>
        <form action="" method="post">
            <h1 style="color: rgb(152, 147, 147);">Add Victim info</h1><br>
            <label for="">Name</label>
            <input type="text" placeholder="Name">
            <br>
            <label for="age">DOB</label>
            <input type="date" name="" id="">
            <br>
            <label for="">Place</label>
            <input type="text" placeholder="Place">
            <br>
            <label for="">Phone number/E-mail</label>
            <input type="text" placeholder="Phone number/E-mail">  
            <br>
            <label for="">Gender</label>
            <select name="" id="">
                <option value="">Male</option>
                <option value="">Female</option>     
            </select>
            <br>
            <input type="submit">
        </form>      
    </body>
</body>
</html>