<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
    <form action="" method="post">
        <h1 style="color: rgb(152, 147, 147);">Registration</h1><br>
        <label for="">Name</label>
        <input type="text" placeholder="Name">
        <br>
        <label for="age">Select your age:</label>
        <select name="age" id="age">
          <option value="placeholder" selected>Click to select</option>
          <option value="option">18</option>
          <option value="option">19</option>
          <option value="option">20</option>
          <option value="option">21</option>
          <option value="option">22</option>
          <option value="option">23</option>
          <option value="option">24</option>
          <option value="option">25</option>
          <option value="option">25</option>
          <option value="option">27</option>
          <option value="option">28</option>
          <option value="option">29</option>
          <option value="option">30</option>
          <option value="option">31</option>
          <option value="option">32</option>
          <option value="option">33</option>
          <option value="option">34</option>
          <option value="option">35</option>
        <br>
        <label for="">Place</label>
        <input type="text" placeholder="Place">
        <br>
        <label for="">Phone number/E-mail</label>
        <input type="text" placeholder="Phone number/E-mail">  
        <br>
        <label for="">Gender</label>
        <select name="" id="">
            <option value="">Male</option>
            <option value="">Female</option>     
        </select>
        <br>
        <input type="submit">
    </form>      
</body>
</html>