<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resource.css">
</head>
<body>
<table border="10">
    <tr>

        <th>Item Name</th>
        <th>Image</th>
        <th>Description</th>
    </tr>
    {% for i in obj %}
    <tr>
        <td>
            {{i.Itemname}}
        </td>
        <td>
            <input type="file" name="Image">
            <img src="{{i.Image.url}}" height="40px" width="20px">
        </td>
        <td>
           {{i.Description}}
        </td>
        {% endfor %}
        </tr>
    </table>
</body>
</html>
