<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Sendresourcerequest.css">
</head>
<body>
    <div class="main">
        <h1>Send Resource Request</h1>
   <input type="text" placeholder="subject"><br>
   <input type="text" name="" id="" placeholder="date">

   <br>
   <input type="text" name="" id="" placeholder="Request">
   <br>
   <button><a href="" >Submit</a></button>
</body>
</html>