<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>date</th>
            <th>subject</th>
            <th></th>
    
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                5/7/2023
            </td>
            <td>
                Lorem, ipsum dolor.
            </td>
            <td>
    </table>
</body>
</html>