{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/adminhome.css' %}">
</head>
<body>
    <a href="/Resource">Resource</a>
    <a href="Add_victim_info">Add_victim_info</a>
    <a href="/Send_alert">Send alert</a>
    <a href="/Send_Resource_request">Send Resource reques</a>
    <a href="/view_user_reports">view user reports</a>
    <a href="/View_User">View User</a>
    <a href="/">Logout</a>
</body>
</html>