<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add coordinator</title>
    <link rel="stylesheet" href="coordinator.css">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h1 style="color: rgb(152, 147, 147);">Add coordinator</h1><br>
        <label for=""></label>
        <input type="text" placeholder="Name" name="Name">
        <br>
        <label for="age">Age:</label>
        <input type="text" name="Age">
        <br>
        <label for=""></label>
        <input type="text" placeholder="Place" name="Place">
        <br>
        <label for=""></label>
        <input type="text" placeholder="Phone number/E-mail" name="Phonenumber">  
        <br>
        <label for="">gender</label>
        <select name="" id="" name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>     
        </select>
        <br>
        <input type="submit" >
    </form>      
</body>
</html>