{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Coordinator</title>
    <link rel="stylesheet" href="{% static 'css/coordinator.css'%}">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h1 style="color: rgb(152, 147, 147);">Add Coordinator</h1><br>
        <label for="Name">Name</label>
        <input type="text" Name="Name">
        <br>
        <label for="age">Age:</label>
        <input type="text" name="Age">
        <br>
        <label for="Place">Place</label>
        <input type="text" name="Place">

        <br>
        <label for="Phonenumber">Phonenumber</label>
        <input type="text"  name="Phonenumber">  
        <br>
        <label for="Gender">Gender</label>
        <select id="" name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>     
        </select>
        <br>
        <input type="submit" >
    </form>      
</body>
</html>