<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resource management.css">

</head>
<body>
    {% csrf_token %}
    <table border="1">
        <tr>
            <th>Itemname</th>
            <th>Image</th>
            <th>Description</th>
            <th colspan="2">ACTIONS</th>
            
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ i.Itemname}}</td>
            <td><img src="{{ i.Image.url }}"height="150" width="250"></td>
            <td>{{ i.Description}}</td>
            <td><a href="edit_resource/{{i.id}}/">EDIT</a></td>
            <td><a href="deleteResource/{{i.id}}/">DELETE</a></td>
        </tr>
        <tr>
            <td><a href="/add_resource">Add resource</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>