*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
body{
    
    background-size: contain;
    background-repeat: no-repeat;
  
    height: 100vh;
    align-items: center;
    
    text-align: center;
}
.card{
    border: 10px ;
    padding: 30px;
    height: 100px;
    width: 100px;
    background-color:blue;
    border: 5px ;
    
}

.main input{
margin: 10px; 
width: 90%; 
height: 35px;  
}
.main{
    height: 350px;
    width: 350px;
    background-color: blueviolet;
    align-items: center;
    margin-top: 250px;
    margin-left: 480px;
}
a{
    text-decoration: none;
}
button{
    height: 30px;
    width: 65px;
    border-radius: 8px;
}